#define VOS_NT_WINDOWS32 0x00040004L
#define VFT_APP 0x00000001L

/* .exe icon */
/* A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "myiconfilename.ico" */

/* version information */
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "FileVersion", "1.0"
            VALUE "FileDescription", "HTTP File Server"
            VALUE "LegalCopyright", "Copyleft 2023"
            VALUE "OriginalFilename", "th-gui"
            VALUE "ProductName", "Newth HTTP File Server"
            VALUE "ProductVersion", "1.0"
            /*
            VALUE "InternalName", "write version info here"
            VALUE "LegalTrademarks", "write version info here"
            VALUE "CompanyName", "write version info here"
            */
		 }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252 /* language codes */
    }
}

/* Visual Styles */
1 24 "vsxp.xml"
